body{
    background-color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.common {
   /* background-color: #cccccc;
    border: solid 2px white;*/
    position: absolute; /* Pretend like the other elements don't exist. Also takes away the block element-ness*/

}

.header{
    top: 5px;
    left:5px;
    right: 5px;
    height:100px;
    z-index: 2;
    border-bottom: solid 1px #555555;

}

.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 64px;
    z-index: 1;
    /* padding-top: 4%; */
    border-right: solid 1px #555555;
}

.mainbody{
    top: 114PX;
    left:114px;
    right:114px;
    bottom: 64px;
    
}

.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 64px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}

.footer{
    bottom: 5px;
    left:5px;
    right: 5px;
    height: 10px;
    font-size: 8px;
    color: 888888;
    text-align: center;
    position: fixed;
}

.subheader{
    float: right;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .padding10px{
      padding-left: 10px;
  }

  .fsize16px{
      font-size: 16px;
  }